/* Webfont: Allenoire Regular */@font-face {
    font-family: 'Allenoire';
    src: url('Allenoire Font.eot'); /* IE9 Compat Modes */
    src: url('Allenoire Font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Allenoire Font.woff') format('woff'), /* Modern Browsers */
         url('Allenoire Font.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

